@import "@/styles/colors/colors.scss";

.wrapper {
  display: flex;
  height: 40rem;
  gap: 1rem;
  padding: 4rem;
  @media screen and (max-width: 992px) {
    display: none;
  }
  & > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);

    &:hover {
      flex: 5;
    }
  }
}
