@import "@/styles/colors/colors.scss";

.wrapper {
  ul {
    display: flex;
    gap: 10px;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    li {
      list-style-type: none;
      cursor: pointer;
      position: relative;
      padding-bottom: 0.5rem;
      overflow: hidden;
      color: $whiteText;
      letter-spacing: 2px;
      font-size: 20px;
      @media screen and (max-width: 992px) {
        text-align: right;
      }
      &:hover::before {
        transform: translateY(-100%);
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $secondary;
        bottom: 0;
        transform: translateY(100%);
        transition: 0.2s;
      }
    }
  }
}
