@import "@/styles/colors/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  color: $whiteText;
  position: absolute;
  z-index: 11;
  bottom: 40vh;
  left: 2rem;
  @media screen and (max-width: 992px) {
    z-index: 100;
    bottom: 250px;
    text-align: center;
    width: 100%;
    left: 0;
  }
  h1 {
    font-size: 64px;
    font-weight: 600;
    @media screen and (max-width: 992px) {
      font-size: 48px;
    }
  }
  p {
    font-size: 24px;
    font-weight: 500;
  }
}
